package-lock.json
#*.csv
#*.zip
#include all folders
!*/

#exclude
/database/pg_dump/*.sql
/node_modules
/database/export

#include
!/database/pg_dump/*.zip
!/database/export/name-indexer/*.xml
!/database/export/name-indexer/*.csv
!/database/export/name-indexer/*.txt
